<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              {{!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Users</h4> --}}
<!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Table Basic</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {{#each users}}
                      <tr>
                        <td>{{this.Name}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.phone_number}}</td> 
                        <td>
                      {{#if this.status }}
                      <span class="badge bg-label-primary me-1">Active</span>
                      {{else}}
                      <span class="badge bg-label-danger me-1">Blocked</span>
                      {{/if}}
                    </td>
                    <td>
                      {{#if this.status}}

                          <a class="dropdown-item" href="/admin/block-user/{{this._id}}"><i class="bx bx-edit-alt me-1"></i>
                            Block</a>
                          {{else}}
                          <a class="dropdown-item" href="/admin/unblock-user/{{this._id}}"><i class="bx bx-edit-alt me-1"></i>
                            Unblock</a>
                          {{/if}}
                    </td>

                       </tr>
                    </tbody>
                    {{/each}}
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
              <!-- Footer -->
           

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="/admin/assets/vendor/js/bootstrap.js"></script>
    <script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/admin/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/admin/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>

